# Ignore everything in sites-available directory
/*

# Except
!.gitignore
!default
!fastcgi-cache.com
!multisite-subdirectory.com
!multisite-subdomain.com
!singlesite.com
!ssl.com
!ssl-fastcgi-cache.com
!www.fastcgi-cache.com
!www.multisite-subdirectory.com
!www.singlesite.com
!www.ssl.com
!www.ssl-fastcgi-cache.com
